* @ADROHRB @SUNANAN @ABHSAGA @PRANAGU @AMATHUK

/.deployment/ @ADROHRB @SRATAKO 
/core_dm/ @ADROHRB @SUNANAN @SRATAKO
/common_frameworks/ @SUNANAN @ADROHRB @SRATAKO
/fs_dm/ @JAINVIP @SINRENU @SUNANAN @ADROHRB @ABHSAGA @PRANAGU @AMATHUK @ABPADMA @SRATAKO @VELANVI @DPALIWA
/fs_ivr/ @SUNANAN @ADROHRB @SRATAKO @VELANVI
/fs_bl/ @JAINVIP @SINRENU @SUNANAN @ADROHRB @ABPADMA @SRATAKO @VELANVI @DPALIWA
/fs_credit/ @JAINVIP @SINRENU @ABHSAGA @PRANAGU @AMATHUK @ABPADMA @SRATAKO @VELANVI @DPALIWA
/fs_clientServices/ @JAINVIP @SRATAKO @VELANVI
/fs_dealerMgmt/ @ADROHRB @SRATAKO @VELANVI
/fs_post_config/ @ADROHRB @ABHSAGA @PRANAGU @AMATHUK @ABPADMA @SRATAKO
/fs_post_ui/ @ADROHRB @ABHSAGA @PRANAGU @AMATHUK @SRATAKO
/fs_post_access-mgmt/ @ADROHRB @ABHSAGA @PRANAGU @AMATHUK @ABPADMA @SRATAKO
/fs_industryCloud/clientServices/ @JAINVIP @SRATAKO
/fs_industryCloud/credit/ @JAINVIP @SINRENU @ABHSAGA @PRANAGU @AMATHUK @ABPADMA @SRATAKO @DPALIWA
/fs_industryCloud/retention/ @JAINVIP @SINRENU @SUNANAN @ABPADMA @SRATAKO @DPALIWA
/fs_industryCloud/ohCop @VSAGARL @ADROHRB @SRATAKO @DPALIWA
/fs_ohCop/ @VSAGARL @ADROHRB @SRATAKO @DPALIWA
/fs_athlon/ @SRATAKO @DPALIWA @ADROHRB @ROJOSHI